
.venv/
__pycache__/
*.pyc
*.log
*.h5ad
.env
.idea/

151673/
*_changed_details.csv
*_prediction_details.csv
visulization/

!data/.gitkeep
VT3D/
VT3D.svelte
lib/

node_modules/
dist/
.vscode/
.DS_Store

plot_old.svelte
App_old.svelte
cropper.svelte
selectD3.svelte
selectPlotly.svelte